/* semantic color for light theme */
:root {
  --primary: var(--turquoise);
  --secondary: var(--peach);

  --bg-primary: var(--mute-turquoise);
  --bg-secondary: var(--mute-peach);

  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);
}
