/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --turquoise: hsla(180, 100%, 37%, 1);
  --peach: hsla(30, 100%, 73%, 1);

  --soft-turquoise: hsla(180, 100%, 37%, 0.3);
  --soft-peach: hsla(30, 100%, 73%, 0.3);
  --mute-turquoise: hsla(180, 100%, 37%, 0.15);
  --mute-peach: hsla(30, 100%, 73%, 0.15);

  --divider-light-1: var(--soft-turquoise);
  --divider-light-2: var(--mute-turquoise);
  --divider-dark-1: var(--soft-peach);
  --divider-dark-2: var(--mute-peach);

  --text-light-1: var(--black-mute);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white-mute);
  --text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for dark theme (default theme)*/
:root {
  --primary: var(--turquoise);
  --secondary: var(--peach);

  --bg-primary: var(--mute-turquoise);
  --bg-secondary: var(--mute-peach);

  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--text-dark-2);

  --section-gap: 160px;
}
