@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.blue,
.icon  {
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--bg-primary);
  }
  .icon:hover {
    background-color: var(--bg-primary);
    cursor:pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
